.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  header {
    flex-shrink: 0; /* Prevent the header from shrinking */
    padding: 10px 20px;
  }
  footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    padding: 10px 20px;
    text-align: center;
  }
  .main-container {
    flex-grow: 1; /* Allow the content area to expand */
    overflow-y: auto; /* Make it scrollable */
    padding: 20px;

  }
}
